<!DOCTYPE html>
<html lang="ko" class="h-full">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}YouTube Converter{% endblock %}</title>
  <link rel="icon" href="/static/images/favicon.png" type="image/png" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <style>
    body {
      background-color: #ffffff;
      background-image: linear-gradient(#000000 200px, #ffffff 200px);
      background-repeat: no-repeat;
      font-family: Arial, sans-serif;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .spinner {
      animation: spin 1s linear infinite;
    }
  </style>
</head>

<body class="h-full {% block body_class %}{% endblock %}">
  <div class="w-full">
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}{% endblock %}
</body>

</html>